<form role='form' method='POST' action='/add/{{ c_type }}'>
    <div class='form-group'>
        <label for='name'>Namn: </label>
        <input type='text' name='name' class='form-control' />
    </div>
    <div class='form-group'>
        <label for='hp'>HP: </label>
        <input type='text' name='hp' class='form-control' />
    </div>
    <div class='form-group'>
        <label for='defense'>Defense: </label>
        <input type='text' name='defense' class='form-control' />
    </div>
    <div class='form-group'>
        <label for='dmg'>Damage: </label>
        <input type='text' name='dmg' class='form-control' />
    </div>
    <div class='form-group'>
        <label for='catch_rate'>Catch rate: </label>
        <input type='text' name='catch_rate' class='form-control' />
    </div>
    <button type='submit' class='btn btn-default'>Lägg till</button>
</form>
